@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #0f0a25;
  color: white;
  font-size: 1rem;
  font-family: "Sawarabi Gothic", sans-serif;
}

.App {
  width: 85vw;

  margin: 30px auto 0px auto;
  background-color: rgb(27, 28, 31);
  border-radius: 5%;
  padding: 1vw;
  overflow: auto;
}

.randomHiragana {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  width: 80%;
  margin: auto;
}

.randomHiragana-prompt {
  color: #a3a3a3;
}

.n_question {
  background-color: rgba(0, 0, 0, 0);
  color: #8f8da3;
  font-size: 1rem;
}

.n_question:hover {
  color: #ffffff;
}

.invisible {
  visibility: hidden;
}
#showButton {
  border-radius: 3px;
  opacity: 1;
  margin-top: 15px;
  background-color: grey;
}
#showButton:hover {
  opacity: 0.6;
}

.reset {
  outline: none;
  border-radius: 3px;
  background: none;
  color: white;
  margin: 9% auto;
}

.ans {
  color: rgb(231, 26, 26);
}

button,
input {
  border: none;
  outline: none;
}
.submit {
  border-radius: 0px 4px 4px 0px;
  background-color: #8f8da3;
  height: 100%;
}
.submit:hover {
  color: white;
}

input {
  width: 16vw;
  border-radius: 4px 0px 0px 4px;
  padding-left: 3vw;
  background-color: #ffffff;
  border-right: 1px solid rgb(124, 118, 118);
  margin-top: 2%;
  margin-left: 3vw;
}

.ansRecord {
  margin-top: 5vh;
  background-color: #3a3942;
  border-radius: 15px;
  padding: 1vh;
}

.hidden {
  display: none;
}

.score {
  display: flex;
  flex-direction: column;
}

.score-correct {
  color: rgb(74, 231, 26);
}
.score-incorrect {
  color: rgb(231, 26, 26);
}

table {
  margin: auto;
}
td {
  width: 20%;
}

.option {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto;
  width: 90%;
}
.mode {
  width: 80%;
  height: 10vh;
  border-radius: 14px;
  margin: 1vw;
  background-color: rgba(130, 135, 150, 0.9);
}

.mode:hover {
  opacity: 0.8;
}

.mode:focus {
  background-color: rgb(215, 225, 255);
}
